body {
    font-family: 'Neucha', cursive;
    margin: 0;
}
.pageHeader {
    width: 100%;
    height: 100px;
    background-color: #D1202F;
    color: white;
    font-size: 44px;
    font-family: 'Spoon';
}

.selectCharacterText {
    font-size: 24px;
    text-align: center;
    margin: 40px 0;
}
.headerLogo {
    float: left;
    height: 100%;
    margin: 0 25px;
}

.headerText {
    padding: 20px 0;
}

.selectionContainer {
    display: inline-block;
    width: 100%;
}

.characterSelectContainer {
    float: left;
    display: inline-block;
    min-width: 50%;
    max-width: 50%;
}

#searchCharacters {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#characterSelect {
    overflow-y: scroll;
    height: 70%;
    background-color: #e8e8e8;
}


.character {
    float: left;
    display: inline;
    text-align: center;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-size: 22px;
}

.character:hover {
    background-color: #f5f5f5;
}
.characterImage {
    width: 200px;
    height: 160px;
    transform: translate(-20%);
}

#selectedCharacterInformation {
    float: left;
    display: inline-block;
    text-align: center;
    width: 50%;
}

.characterImageContainer {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 5px;
}

.characterName {
    padding: 10px 0;
}

#selectedCharacterImage {
    width: 125px;
}

#selectedCharacterName {
    font-size: 24px;
}
#playButton {
    display: inline-block;
    padding: 20px;
    background-color: #D1202F;
    width: 100px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    border-radius: 4px;
}